<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="font-light m-b-xs">
                        City List
                    </h2>
                    <div id="hbreadcrumb">
                        <ol class="hbreadcrumb breadcrumb">
                            <li><a title="Dashboard" href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
                            <li class="active">
                                <span>City List</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6 text-right m-t-sm">
                  <a class="btn btn-primary" href="<%= sails.config.base_url %>city/addCity/1"><i class="icon icon-user"></i>Add City</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hpanel">
  <div class="panel-body">
    <table  id="city-grid"></table>
    <div id="city-grid-pager"></div>
  </div>
</div>
