<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h3 class="font-light m-b-xs">
            Alert List
          </h3>
          <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
              <li><a title="Dashboard" href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
              <li class="active">
                <span>Alerts</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if (req.session.flash) { %>
<%- req.flash('flashMessage') %>
<% } %>
<div class="alert alert-success" style="display: none"></div>
<div class="alert alert-danger" style="display: none"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="hpanel">
      <div class="panel-body">
        <% if(alertList != undefined && Object.keys(alertList).length){ %>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Alert</th>
            <th>Action</th>
          </tr>
          </thead>
          <% for( var key in alertList){ %>
          <tbody>
          <tr>
            <td><%= (alertList[key].message) ? alertList[key].message : '' %></td>
            <td><a title="View" class="btn btn-primary" href="<%= (alertList[key].type == 'device_issue') ? sails.config.base_url + 'device/view/'+ alertList[key].device_id + '?notification=true' : sails.config.base_url + 'user/view/'+ alertList[key].user_id + '?notification=true' %>">View</a>
            </td>
          </tr>
          <tr>
          </tbody>
          <% } %>
        </table>
        <% }else{ %>
        <p>There has no Alert message for you.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
