<a title="Alerts" class="dropdown-toggle label-menu-corner logout" href="#" data-toggle="dropdown"
   aria-expanded="false">
  <i class="pe-7s-bell"></i>
</a>
<ul class="dropdown-menu hdropdown animated flipInX">
  <div class="title"><%= (alertList != undefined && Object.keys(alertList).length) ? "Alert List" : "There has no alert message" %>
  </div>
  <% if(alertList != undefined && Object.keys(alertList).length != null && Object.keys(alertList).length){
    for (var key in alertList){ %>
  <li><a title="View" href="<%= (alertList[key].type == 'device_issue') ? sails.config.base_url + 'device/view/'+ alertList[key].device_id + '?notification=true' : sails.config.base_url + 'user/view/'+ alertList[key].user_id + '?notification=true' %>"><%= (alertList[key].message != undefined) ? alertList[key].message : '' %></a></li>
  <% } %>
  <li class="summary"><a href="<%= sails.config.base_url %>notification">See All Messages</a></li>
  <% } %>
</ul>
