<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-light m-b-xs">
            Notification Setting
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="hpanel">
      <div class="panel-body">
        <div class="notification-section">
          <ul class="list-group">
            <li class="list-group-item">
            <span class="badge">
            <div class="btn-group btn-toggle is-user-notification">
              <button class="btn btn-lg <%= (userDetail.is_user_notification != undefined && userDetail.is_user_notification != true) ? 'btn-primary active' : 'btn-default' %> btn-yes" data-value="true">Yes</button>
              <button class="btn btn-lg btn-primary <%= (userDetail.is_user_notification != undefined && userDetail.is_user_notification != false) ? 'btn-primary active' : 'btn-default' %>" data-value="false">No</button>
            </div>
            </span> Notification for Users
            </li>
            <li class="list-group-item">
            <span class="badge">
            <div class="btn-group btn-toggle is-device-notification">
              <button class="btn btn-lg btn-default <%= (userDetail.is_device_notification != undefined && userDetail.is_device_notification != true) ? 'btn-primary active' : 'btn-default' %>" data-value="1">Yes</button>
              <button class="btn btn-lg btn-primary <%= (userDetail.is_device_notification != undefined && userDetail.is_device_notification != false) ? 'btn-primary active' : 'btn-default' %>" data-value="0">No</button>
            </div>
            </span> Notification for Devices
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
