<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="font-light m-b-xs">
                        User List
                    </h2>
                    <div id="hbreadcrumb">
                        <ol class="hbreadcrumb breadcrumb">
                            <li><a title="Dashboard" href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
                            <li class="active">
                                <span>User List</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success" style="display: none"></div>
<div class="alert alert-danger" style="display: none"></div>
<% if (req.session.flash) { %>
<%- req.flash('flashMessage') %>
<% } %>
<div class="hpanel">
  <div class="panel-body">
  	<table  id="user-grid" class="qat-table table-striped"></table>
    <div id="user-grid-pager"></div>

  </div>
</div>
