<html>
<head>
  <title>Email</title>
</head>
<body>
  <div class="header"><img src="<%= sails.config.base_url %>images/logo.png"></div>
  <div class="content">
    This is the mail bodya <%= name %>
  </div>
  <div class="footer">Copy rigth by <%= sails.config.app_name %></div>
</body>
</html>
